# 配置文件
jdbc.properties
traveller.properties

*.class

# package file
*.jar
*.war

# maven file
target/

# idea file
.idea/
/idea/
*.ipr
*.iml
*.iws

# temp file
*.log
*.gz
*.cache
*.diff
*.patch
*.tmp

# system file
.DS_Store
Thumbs.db
