<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.d4smart.traveller.dao.FollowMapper" >
  <resultMap id="UserResultMap" type="com.d4smart.traveller.pojo.User" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="username" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="password" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="gender" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="phone" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="avatar" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="signature" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="can_login" jdbcType="BIT" javaType="java.lang.Boolean" />
      <arg column="can_publish" jdbcType="BIT" javaType="java.lang.Boolean" />
      <arg column="is_admin" jdbcType="BIT" javaType="java.lang.Boolean" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="User_Column_List" >
    user.*
  </sql>
  <insert id="insert" parameterType="map" >
    insert into follow (user_id, follow_id)
    values (#{userId,jdbcType=INTEGER}, #{followId,jdbcType=INTEGER})
  </insert>

  <delete id="delete" parameterType="map">
    delete from follow
    where user_id = #{userId}
    and follow_id = #{followId}
  </delete>

  <select id="getByPage" parameterType="map" resultMap="UserResultMap">
    select
    <include refid="User_Column_List" />
    from follow
    left join user
    <if test="userId != null">
      on follow.follow_id = user.id
      where follow.user_id = #{userId}
    </if>
    <if test="followId != null">
      on follow.user_id = user.id
      where follow.follow_id = #{followId}
    </if>
    order by id
    limit #{offset}, #{limit}
  </select>

  <select id="getCount" parameterType="map" resultType="int">
    select count(1)
    from follow
    <where>
      <if test="userId != null">
        and user_id = #{userId}
      </if>
      <if test="followId != null">
        and follow_id = #{followId}
      </if>
    </where>
  </select>
</mapper>