<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.d4smart.traveller.dao.GuideMapper" >
  <resultMap id="BaseResultMap" type="com.d4smart.traveller.pojo.Guide" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="title" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="author_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="places" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="thumbnail" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="content" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="views" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="likes" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="comments" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="score" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="is_published" jdbcType="BIT" javaType="java.lang.Boolean" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <resultMap id="SimpleResultMap" type="com.d4smart.traveller.pojo.Guide" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="title" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="author_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="places" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="thumbnail" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="views" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="likes" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="comments" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, title, author_id, places, thumbnail, content, views, likes, comments, score,
    is_published, create_time, update_time
  </sql>
  <sql id="Simple_Column_List" >
    id, title, author_id, places, thumbnail, views, likes, comments, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from guide
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from guide
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.d4smart.traveller.pojo.Guide" >
    insert into guide (title, author_id,
      places, thumbnail, content, 
      views, likes, comments,
      score, is_published)
    values (#{title,jdbcType=VARCHAR}, #{authorId,jdbcType=INTEGER},
      #{places,jdbcType=VARCHAR}, #{thumbnail,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, 
      #{views,jdbcType=INTEGER}, #{likes,jdbcType=INTEGER}, #{comments,jdbcType=INTEGER},
      #{score,jdbcType=INTEGER}, #{isPublished,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.d4smart.traveller.pojo.Guide" >
    insert into guide
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="title != null" >
        title,
      </if>
      <if test="authorId != null" >
        author_id,
      </if>
      <if test="places != null" >
        places,
      </if>
      <if test="thumbnail != null" >
        thumbnail,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="views != null" >
        views,
      </if>
      <if test="likes != null" >
        likes,
      </if>
      <if test="comments != null" >
        comments,
      </if>
      <if test="score != null" >
        score,
      </if>
      <if test="isPublished != null" >
        is_published,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="authorId != null" >
        #{authorId,jdbcType=INTEGER},
      </if>
      <if test="places != null" >
        #{places,jdbcType=VARCHAR},
      </if>
      <if test="thumbnail != null" >
        #{thumbnail,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="views != null" >
        #{views,jdbcType=INTEGER},
      </if>
      <if test="likes != null" >
        #{likes,jdbcType=INTEGER},
      </if>
      <if test="comments != null" >
        #{comments,jdbcType=INTEGER},
      </if>
      <if test="score != null" >
        #{score,jdbcType=INTEGER},
      </if>
      <if test="isPublished != null" >
        #{isPublished,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.d4smart.traveller.pojo.Guide" >
    update guide
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="authorId != null" >
        author_id = #{authorId,jdbcType=INTEGER},
      </if>
      <if test="places != null" >
        places = #{places,jdbcType=VARCHAR},
      </if>
      <if test="thumbnail != null" >
        thumbnail = #{thumbnail,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="views != null" >
        views = #{views,jdbcType=INTEGER},
      </if>
      <if test="likes != null" >
        likes = #{likes,jdbcType=INTEGER},
      </if>
      <if test="comments != null" >
        comments = #{comments,jdbcType=INTEGER},
      </if>
      <if test="score != null" >
        score = #{score,jdbcType=INTEGER},
      </if>
      <if test="isPublished != null" >
        is_published = #{isPublished,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.d4smart.traveller.pojo.Guide" >
    update guide
    set title = #{title,jdbcType=VARCHAR},
      author_id = #{authorId,jdbcType=INTEGER},
      places = #{places,jdbcType=VARCHAR},
      thumbnail = #{thumbnail,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      views = #{views,jdbcType=INTEGER},
      likes = #{likes,jdbcType=INTEGER},
      comments = #{comments,jdbcType=INTEGER},
      score = #{score,jdbcType=INTEGER},
      is_published = #{isPublished,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="getGuidesByPage" parameterType="map" resultMap="SimpleResultMap">
    select
    <include refid="Simple_Column_List"/>
    from guide
    <where>
      <if test="title != null">
        and title like "%"#{title}"%"
      </if>
      <if test="authorId != null">
        and author_id = #{authorId}
      </if>
      <if test="places != null">
        and places like "%"#{places}"%"
      </if>
      <if test="isPublished != null">
        and is_published = #{isPublished}
      </if>
    </where>
    order by id desc
    limit #{offset}, #{limit}
  </select>

  <select id="getGuideCount" parameterType="map" resultType="int">
    select count(1)
    from guide
    <where>
      <if test="title != null">
        and title like "%"#{title}"%"
      </if>
      <if test="authorId != null">
        and author_id = #{authorId}
      </if>
      <if test="places != null">
        and places like "%"#{places}"%"
      </if>
      <if test="isPublished != null">
        and is_published = #{isPublished}
      </if>
    </where>
  </select>

  <update id="increase" parameterType="map">
    update guide
    set ${field} = ${field} + 1
    where id = #{id}
  </update>

  <update id="decrease" parameterType="map">
    update guide
    set ${field} = ${field} - 1
    where id = #{id}
  </update>
</mapper>